<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @incident_status.name %>
</p>


<%= link_to 'Edit', edit_incident_status_path(@incident_status) %> |
<%= link_to 'Back', incident_statuses_path %>
