<footer class="footer">
	<small>
		<a href="http://idea-er.com/">IDEA Emergency Response</a>
		by AB
	</small>
	<nav>
		<ul>
			<li> <%= link_to "About",    about_path %> </li>
		</ul>
	</nav>
</footer>
